.main{
    width: 50%;
}

.order{
    display: flex;
    justify-content: space-between;
}
.roptions{
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    .main{
        width: 80%;
    }
}