.productCard {
    width: 85%;
    padding: 10px;
    border-radius: 12px;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;

    div{
        width: 100%;
    }
    .imageHolder {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #fff;
        border-radius: 17px;
    }

    img {
        width: 80%;
    }

    .addBtn{
        margin-left: auto;
        border: 0.5px solid #121212;
        border-radius: 4px;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;

        &:hover {
            background-color: #121212;
            color: white;
            cursor: pointer;
        }
    }

    h2 {
        font-size: 20px;
        font-weight: bold;
    }
}

.productCard:hover{
    background: #e3e3e3;
}