$padding-value: 20px 15px;

.boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: $padding-value;
}

.intro {
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    div {
        margin: auto;
    }
}

.descriptionBox {
    display: flex;
    width: 30%;
    padding: 10px;

    img {
        align-items: flex-start;
    }
}

@media screen and (min-width: 510px){
    .intro {
        img {
            transform: translateX(13px);
        }
    }
}

@media screen and (max-width: 550px){

    .boxes {
        flex-direction: column;
    }

    .descriptionBox {
        width: 100%;
        margin: 15px 0;
    }
}

@media screen and (max-width: 550px){
    .intro {
        flex-direction: column;
    }    
}

@media screen and (min-width: 550px) and (max-width:800px){
    .descriptionBox{
        width: 45%;
    }

    .boxes {
        gap: 10px;
    }
}

