.options{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 5rem;
}
.roptions{
    display: none;
}

.desc{
    padding: 1rem;
    align-items: center;
}
.product{
    height: 100%
}
.rimg{
    width: 40%
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem
}
.icon{
    font-size: 2rem;
    // position: relative;
    // top: 1.4rem
    vertical-align: bottom;
}
.quantity{
    margin-left: auto;
    display: flex;
    align-items: center;
}
.quantity h2{
    padding-right: 0.5rem;
}
.counter{
    display: flex;
    border: 1px solid grey;
    border-radius: 0.5rem;
    height: 2rem;
    align-items: center;
    width: auto;
}
input{
    border: none;
    background-color: #D9D9D9;
    width: 3rem;
    font-size: 1.2rem;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
  }
@media screen and (max-width: 600px) {
    .intro{
        display: flex;
        align-items: center;
        gap: 10;
    }
    .intro h2{
        margin-left: 2rem;
    }
    .header{
        font-size: 1.5rem;
    }
    .roptions{
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 5rem;
        padding-bottom: 3rem;
    }
    input{
        width: 2rem
    }
}
@media screen and (min-width: 600px) {
    .rimg{
        display: none
    }
}
