$size: 60px;

.productList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.productListItem {
    height: 70px;
    display: flex;
    align-items: center;
    gap: 10px;

    img {
        border-radius: 7px;
        width: $size;
        height: $size;
    }
}