$navbar-height: 60px;

.navbarBox {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.cartbox {
    width: 100px;
    gap: 10px;
}

.navbar{
    height: $navbar-height;
    background-color: #E1E1E1;
    display: flex;
    align-items: center;

    h2{
        margin: 0;
    }

    .auth{
        padding: 0 10px;
        font-family: 'Inter', sans-serif;
        &:first-of-type{ border-right: 1px solid #121212; }
        &:nth-of-type(2){ border-left: 1px solid #121212; }
    }
}