
.filterOption{
    border-radius: 5px;
    padding: 10px 25px;
    box-sizing: border-box;
    border: 0.5px solid var(--dark);
    width: max-content;
    height: 30px;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.filterInputContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 5px 0;
}

.filterBox {
    border: 1.5px solid var(--dark);
    width: 30%;
    z-index: 800;

    background: #fff;
    position: absolute;
    box-shadow: 1px 1px 5px -1px #4b4b4b;
    padding: 10px;
}