@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --primary: #F27F7E;
}

body {
    margin: 0;
}

p{
    font-family: 'Inter', sans-serif;
}

.header-1{
    font-family: 'Poppins', sans-serif;
}

.modal-form-container {
    width: 50%;
    margin: 0 auto;
    padding: 1rem;
}

@media screen and (max-width: 800px){
    .modal-form-container {
        width: 85%;
    }
}